In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning) 
import requests
import pandas as pd
from pandas import json_normalize # easy JSON -> pd.DataFrame
from tqdm import tqdm_notebook
from random import randint
import time

In [3]:

# This code is sending a POST request to the specified URL with the client ID and client secret in the body of the request. 
# The headers variable contains a content-type header set to application/x-www-form-urlencoded, which tells the server that the body of the request is URL encoded. 
# The server will respond with some text, which is printed out by the code.


url = "https://auth.emsicloud.com/connect/token"

payload = "YOUR CLIENT ID AND CLIENT SECRET HERE"
headers = {'content-type': 'application/x-www-form-urlencoded'}

response = requests.request("POST", url, data=payload, headers=headers)

print(response.text)

{"access_token":"eyJhbGciOiJSUzI1NiIsImtpZCI6IjNDNjZCRjIzMjBGNkY4RDQ2QzJERDhCMjI0MEVGMTFENTZEQkY3MUYiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJQR2FfSXlEMi1OUnNMZGl5SkE3eEhWYmI5eDgifQ.eyJuYmYiOjE2NTQwNjIwODMsImV4cCI6MTY1NDA2NTY4MywiaXNzIjoiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20iLCJhdWQiOlsiZW1zaV9vcGVuIiwiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20vcmVzb3VyY2VzIl0sImNsaWVudF9pZCI6Im9nYmRhNzF0eTV2bDAyZTMiLCJlbWFpbCI6InFjazk1MTQ3QGppb29xLmNvbSIsImNvbXBhbnkiOiJOb25lIiwibmFtZSI6IkRhdGEgQW5hbHlzdCIsImlhdCI6MTY1NDA2MjA4Mywic2NvcGUiOlsiZW1zaV9vcGVuIl19.SB5S-j3Uvffm1_xr2R4fqCznVsYson_Bn9TLazmwV209yBYqnRGdkSnYHnRpRSSZKjCrl23GLblPgBLYDBsVe7dk9bcG_zARNw8ReUigHWOsmOtIJv3WmrBBFRSjNGjFVcSK88UnJI7aIWOSSgf4M8uRvVd2VYLY4Vn2_HzFDPdtb-RopEu7Q9wki5xcPmKIyqCSj4g057HyXopEIeB0K_jTTwPNBsxnJa-nuhFKxQQzEXx1m3K_FsgHlE70t3wtcCcb13MC2DOu3UvPVjTH1lneTgExU7v2j2VqQ7VfCKb0RDkrasC293rjR4zY7xn444rECi5-5ljSwGtK5G_-bw","expires_in":3600,"token_type":"Bearer","scope":"emsi_open"}

In [4]:
access_token = "YOUR API TOKEN HERE"

In [4]:

# This code defines a function to extract a list of skills from an external API. It makes a GET request to the API endpoint, passing in the access token as a header, and then parses the response into a JSON object. 
# Finally, it returns a DataFrame containing the list of skills.

def extract_skills_list():
  all_skills_endpoint = "https://emsiservices.com/skills/versions/latest/skills" # List of all skills endpoint
  auth = "Authorization: Bearer " + access_token # Auth string including access token from above
  headers = {'authorization': auth} # headers
  response = requests.request("GET", all_skills_endpoint, headers=headers) # response
  response = response.json()['data'] # the data

  all_skills_df = pd.DataFrame(json_normalize(response)); # Where response is a JSON object drilled down to the level of 'data' key
  return all_skills_df

extract_skills_list()

,id,infoUrl,name,type.id,type.name
0,KS120P86XDXZJT3B7KVJ,https://skills.emsidata.com/skills/KS120P86XDX...,(American Society For Quality) ASQ Certified,ST3,Certification
1,KS126XS6CQCFGC3NG79X,https://skills.emsidata.com/skills/KS126XS6CQC...,.NET Assemblies,ST1,Specialized Skill
2,ES50D03AC9CFC1A0BC93,https://skills.emsidata.com/skills/ES50D03AC9C...,.NET Development,ST1,Specialized Skill
3,KS1200B62W5ZF38RJ7TD,https://skills.emsidata.com/skills/KS1200B62W5...,.NET Framework,ST1,Specialized Skill
4,KS126XW78QJCF4TRV2X7,https://skills.emsidata.com/skills/KS126XW78QJ...,.NET Framework 1,ST1,Specialized Skill
...,...,...,...,...,...
34263,BGSE81B40D49CE4E4B79,https://skills.emsidata.com/skills/BGSE81B40D4...,shRNA,ST1,Specialized Skill
34264,KS440T963CCSV4W7BWJ5,https://skills.emsidata.com/skills/KS440T963CC...,spatialNET,ST1,Specialized Skill
34265,BGSEF80D93DCEB320488,https://skills.emsidata.com/skills/BGSEF80D93D...,tvOS,ST1,Specialized Skill
34266,ES3E9032BC8D03E83CFA,https://skills.emsidata.com/skills/ES3E9032BC8...,watchOS,ST1,Specialized Skill
34267,KS442937527R0CF82H0M,https://skills.emsidata.com/skills/KS442937527...,z/OS,ST1,Specialized Skill

In [5]:
# The function extract_skills_list() returns a list of all the skills present in the dataset. 
# The head() function returns the first 5 elements of the list.

all_skills = extract_skills_list() 
all_skills.head(5)

,id,infoUrl,name,type.id,type.name
0,KS120P86XDXZJT3B7KVJ,https://skills.emsidata.com/skills/KS120P86XDX...,(American Society For Quality) ASQ Certified,ST3,Certification
1,KS126XS6CQCFGC3NG79X,https://skills.emsidata.com/skills/KS126XS6CQC...,.NET Assemblies,ST1,Specialized Skill
2,ES50D03AC9CFC1A0BC93,https://skills.emsidata.com/skills/ES50D03AC9C...,.NET Development,ST1,Specialized Skill
3,KS1200B62W5ZF38RJ7TD,https://skills.emsidata.com/skills/KS1200B62W5...,.NET Framework,ST1,Specialized Skill
4,KS126XW78QJCF4TRV2X7,https://skills.emsidata.com/skills/KS126XW78QJ...,.NET Framework 1,ST1,Specialized Skill

In [6]:
# The code below will create a CSV file called 'all_skills.csv' and will populate it with data from the 'all_skills' variable.
all_skills.to_csv('all_skills.csv')

In [2]:
# This code reads in a dataset from a CSV file, and then displays the first five rows of data from that dataset.

df = pd.read_excel("Master/04_Analysis/04_01_custom_analysis/04_01_02_tableau_data/01_tableau_base_data_geocoded.xlsx")
df.head(5)

,text_id,jobTitle,role,level,jobDescription,Company,Industry,city,lat,long,state,state_code,country,country_code
0,1,department head data management data warehouse...,data engineer,head,location is flexible job purpose the role is f...,dfv deutsche familienversicherung ag,versicherungen,Frankfurt,50.110644,8.682092,Bayern,BY,Deutschland,de
1,2,accumulation data analyst in accumulation and ...,data analyst,mid,data engineer join us let care for tomorrow at...,allianz global corporate & specialty,versicherungen,MÃ¼nchen,48.137108,11.575382,Bayern,BY,Deutschland,de
2,3,accumulation data engineer in accumulation and...,data engineer,mid,join us let care for tomorrow at allianz globa...,allianz global corporate & specialty,versicherungen,MÃ¼nchen,48.137108,11.575382,Bayern,BY,Deutschland,de
3,4,actuarial data scientist,data scientist,mid,we take responsibility for the sustainable man...,verti versicherung ag,finanzdienstleister,Teltow,52.401646,13.264453,Brandenburg,BB,Deutschland,de
4,5,actuarial data scientist actuar,data scientist,mid,hirschau central full time about us conrad con...,concordia versicherungsgesellschaft ag,versicherungen,Hannover,52.374478,9.738553,Niedersachsen,NI,Deutschland,de

In [261]:
# The code uses the query method to select only the rows in the dataframe that have a role of "data analyst". It then uses the head method to display the first 5 rows of data.

df_da = df.query('role == "data analyst"')
df_da.head(5)

,titleCategory,jobTitle,Seniority,Company,Location,CompanyGroup,jobDescription_eng,jobDescription_org,Language_org,postDate
0,data analyst,berater data analytics strategie,mid,pwc,berlin,pwc,you have talent we are an international networ...,du hast talent wir sind ein internationales ne...,de,23-05-2022
1,data analyst,financial bi developer analyst,mid,philipp dietrich,ingolstadt,philipp dietrich,financial bi developer amp analyst wanted the ...,financial bi developer amp analyst wanted the ...,en,27-04-2022
2,data analyst,junior business analyst data analyst,junior,degussa bank ag,frankfurt,degussa,you specialize in the independent business and...,sie spezialisieren sich auf die eigenstÃ¤ndige ...,de,20-05-2022
3,data analyst,junior business analyst data analyst,junior,degussa bank ag,frankfurt,degussa,how about if daily banking is not only particu...,wie wÃ¤re es wenn das tÃ¤gliche banking nicht nu...,de,20-05-2022
4,data analyst,junior data analyst,junior,as national media & tech gmbh & co kg,hamburg,as,junior data analyst company description axel s...,junior data analyst company description axel s...,en,30-04-2022

In [262]:
# The code is creating a list of job descriptions from a dataframe, and then subsetting that list to the first two items.

job_descriptions_list = df_da['jobDescription'].tolist()
job_descriptions_list = job_descriptions_list[:2]
job_descriptions_list

["you have talent we are an international network of employees inside who share your knowledge of your experiences and your ideas. your results take on solutions together with the customer develop the digital transformation in germany and an employer with suitable values \u200b\u200bour thinking and acting is based on the principles that are characterized by trust respect for vision and innovation pwc stands for diversity in the tasks as well as ours four exciting business areas, depending on the position, you work in the area of \u200b\u200bassurance in the examination and advice on accounting and reporting in the area of \u200b\u200badvisory in the industry -specific process organizations and it advice in tax and legally for large projects in the tax and legal advice or in our internal areas that our organizational technological backbone form in all areas await interesting questions for you and you have the opportunity to optimally contribute your professional advice as a consultant for data analytics strategy and as part of a highly qualified ambitious team advises leading companies in the industry in the big data analytics and ai area with the help of holistic strategies and concepts, you enable better decisions and a permanent improvement in our customers' business processes. supports our customers in the development of holistic visions and concepts as well as in building up the required skills to use added use of data in the company technology. you know the world of data analysis e and can understand the possibilities of what options modern analytics methods and tools like machine learning hadoop or cloud services open up and how you can recognize these into existing bi analytics landscapes customer needs as a trusted advisor you are able to recognize customer requirements and individual analytics strategies and developing solutions to develop project management in doing so, project teams or sub -projects and supports our customers through your sound practical experience paired with the best practice approaches of a worldwide leading consulting company agil for success in your projects you work with agile methods to achieve optimal customer benefit. the development of new skills and solutions with and also take first responsibility for the customers and project acquisition and represent our solution portfolio on events empowerment we do not believe in coincidences we believe in competencies and you will find more information about this. here you have successfully completed your studies with an economic or scientific focus. you experience in the planning and implementation of business analytics projects you have the ability to structure problems analytically to solve and present them in an understandable manner. java sql and in dealing with analytics tays tableau powerbi spss sas and platforms microsoft azure are an advantage as well as experience in project management and agile procedures such as scrum and kanba n the flexibility and mobility necessary in the advisory environment are of course very good german and english skills round your profile. from overtime compensation at pwc, all overtime will be balanced either as a free time compensation or as an additional remuneration you have the choice. at advantages from healthy meals in the casinos on site, discounts in restaurants and in retail to job tickets to free operating sports offers such as yoga or hiit workouts the services shown can optionally vary depending on the position and location",
 'financial bi developer amp analyst wanted the digital transformation leads to far reaching changes especially in the financial areas of companies close networking and synchronization of financial processes with the core business are indispensable we at pdietrich com are young start up and at the same time an experienced team as provider of consulting and interim management based in the ingolstadt region we support our clients in solution oriented manner and with strong communication skills to master their challenges in change situations positioning finance as proactive partner of business is our passion and therefore we offer project management amp finance from single source your profile in addition to your completed studies in business informatics computer science or comparable degree you also have relevant know how in controlling or finance in your to years of work experience you were able to develop your skills in automating and digitizing reports creating dashboards and visualization in bi applications ms power bi qlik tableau you find it easy to transform complex business analysis results into exciting and descriptive stories in customer focused manner that help us and our stakeholders make meaningful decisions you have high degree of goal and quality orientation and are willing to independently incorporate business and technical expertise into your own analysis ideas and data models project based approach to work gives you pleasure and you are willing to expand it as committed and empathetic team player with an independent and solution oriented approach you succeed in communicating with different stakeholders in goal oriented manner your tasks as financial bi developer amp analyst you are part of our consulting team and engage in varied field of activity independent conception and implementation of data models within the framework of customer projects with financial focus addressee oriented automation digitalization and visualization of reports and dashboards in bi applications ms power bi qlik tableau development and realization of own evaluation ideas and forecasts as basis for decision making financial modeling become part of our company we offer you flexible start up environment with flat hierarchies short paths open communication culture and quick decisions you work in an attractive working atmosphere and are part of motivated humorous and open minded team individual training opportunities are just as much part of our offer as your work equipment including smartphone for private use your work location and working hours are flexible depending on the project we look forward to your ideas and your commitment to proactively shape the development of pdietrich com apply we like it uncomplicated you are welcome to do without cover letter please send your meaningful application stating availability and salary expectations directly by mail to philipp dietrich philipp pdietrich com supplementary information requirements for the applicant basic knowledge contribution margin accounting supervision leadership roll out management process management crisis management agile project management advanced knowledge enterprise resource planning erp risk management risk controlling project planning software ms project ms office financial accounting financing financial planning profit and loss accounting cost analysis cost control innovation management project management process analysis investment planning management organizational consulting organizational development scheduling monitoring integrated management systems expert knowledge communication software zoom mail program outlook ms office presentation program powerpoint ms office spreadsheet excel ms office word processing word ms office commercial knowledge profitability analysis economics business administration']

In [263]:
# This code uses the tqdm_notebook library to show a progress bar while it loops through a list of job descriptions, sending each one to an API endpoint to get a list of skills. It then appends the skills to a list.

list_of_skills = []

for job_description in tqdm_notebook(job_descriptions_list):
  text = job_description
  skills_from_endpoint = "https://emsiservices.com/skills/versions/latest/extract"
  confidence_interval = '1'
  headers = {'authorization': "Bearer " + access_token,'content-type': "application/json"}
  payload = "{ \"text\": \"... " + text + " ...\", \"confidenceThreshold\": " + confidence_interval + " }"
  response = requests.request("POST", skills_from_endpoint, data=payload.encode('utf-8'), headers=headers)
  skills_found = json_normalize(response.json())
  skills_found_df = pd.DataFrame(skills_found)
  list_of_skills.append(skills_found_df)

  time.sleep(randint(1,3))

C:\Users\ALEKSE~1\AppData\Local\Temp/ipykernel_11076/394458915.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for job_description in tqdm_notebook(job_descriptions_list):

  0%|          | 0/2 [00:00<?, ?it/s]

In [ ]:
## The extraction of skills with the ENSI Skills API works fine, but there is a limit to the number of queries per month.

In [264]:
list_of_skills

[                                             message
 0  You have met your monthly limit on skills extr...,
                                              message
 0  You have met your monthly limit on skills extr...]

In [ ]:
# Therefore, for the extraction of skills we will first create a database, because on this query there is no limitation

In [6]:
# The code reads in a CSV file of all skills, prints the dimensions of the dataframe, and displays the first 5 rows.

all_skills = pd.read_csv('Master/04_Analysis/04_ensi_skills_extraction/04_all_ensi_skills_ids.csv')
print(all_skills.shape)
all_skills.head(5)

(34268, 6)

,Unnamed: 0,id,infoUrl,name,type.id,type.name
0,0,KS120P86XDXZJT3B7KVJ,https://skills.emsidata.com/skills/KS120P86XDX...,(American Society For Quality) ASQ Certified,ST3,Certification
1,1,KS126XS6CQCFGC3NG79X,https://skills.emsidata.com/skills/KS126XS6CQC...,.NET Assemblies,ST1,Specialized Skill
2,2,ES50D03AC9CFC1A0BC93,https://skills.emsidata.com/skills/ES50D03AC9C...,.NET Development,ST1,Specialized Skill
3,3,KS1200B62W5ZF38RJ7TD,https://skills.emsidata.com/skills/KS1200B62W5...,.NET Framework,ST1,Specialized Skill
4,4,KS126XW78QJCF4TRV2X7,https://skills.emsidata.com/skills/KS126XW78QJ...,.NET Framework 1,ST1,Specialized Skill

In [7]:
# The code is converting the id column of the all_skills dataframe into a list.
all_skills_list = all_skills['id'].tolist()

In [7]:
# The code is creating a list of URLs. It is using the tqdm_notebook function to display a progress bar for the loop. It is appending each URL to the urls list. Finally, it is printing the length of the urls list.


urls = []

for skill in tqdm_notebook(all_skills_list):
    url = "https://emsiservices.com/skills/versions/latest/skills/" + str(skill)
    urls.append(url)

C:\Users\ALEKSE~1\AppData\Local\Temp/ipykernel_15568/275558938.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for skill in tqdm_notebook(all_skills_list):

  0%|          | 0/34268 [00:00<?, ?it/s]

In [8]:
print(len(urls))

34268

In [9]:
# token is only valid for 1 hour so we need to refresh it every hour. We can only make 5 requests per second. 5000 requests per hour is the limit.

# This code is splitting a list of URLs into seven different lists, each containing 5000 URLs.

urls_1 = urls[:5000]
urls_2 = urls[5000:10000]
urls_3 = urls[10000:15000]
urls_4 = urls[15000:20000]
urls_5 = urls[20000:25000]
urls_6 = urls[25000:30000]
urls_7 = urls[30000:34268]

In [10]:
# This code loops through a list of urls, sending a GET request to each one with an authorization header. It then takes the response data, transforms it into a pandas DataFrame, and appends it to a list. Finally, it sleeps for 1/5 of a second.
# Based on skill_id we will get additional information like type of skill, description, category, subcategory etc.


data_skills = []
for url in tqdm_notebook(urls_1):
    headers = {'authorization': "Bearer " + access_token,'content-type': "application/json"}
    response = requests.request("GET", url, headers=headers)
    skills_found = pd.DataFrame(json_normalize(response.json()['data']))
    skills_found = response.json()['data']
    skills_found_for_df = pd.io.json.json_normalize(skills_found)
    data_skills.append(skills_found_for_df)
    time.sleep(1/5)

C:\Users\ALEKSE~1\AppData\Local\Temp/ipykernel_15568/1737368557.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for url in tqdm_notebook(urls_6):

  0%|          | 0/5000 [00:00<?, ?it/s]

In [22]:
# This code reads in seven different CSV files, all of which presumably contain data on extracted skills. Each CSV file is assigned to a different variable, so that the data from each file can be accessed separately.


ensi_1 = pd.read_csv('ensi_extracted_skills_1.csv')
ensi_2 = pd.read_csv('ensi_extracted_skills_2.csv')
ensi_3 = pd.read_csv('ensi_extracted_skills_3.csv')
ensi_4 = pd.read_csv('ensi_extracted_skills_4.csv')
ensi_5 = pd.read_csv('ensi_extracted_skills_5.csv')
ensi_6 = pd.read_csv('ensi_extracted_skills_6.csv')
ensi_7 = pd.read_csv('ensi_extracted_skills_7.csv')

In [29]:
# The code is creating a database of ensi skills by concatenating several smaller databases together. The final database is then exported to a CSV file.

ensi_skills_db = pd.concat([ensi_1,ensi_2,ensi_3,ensi_4,ensi_5,ensi_6,ensi_7])
ensi_skills_db.to_csv('Master/04_02_ensi_skills_extraction/04_ensi_skills_db.csv',index=False)